apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongoexpress-deployment
  labels: 
    app: mongo-express
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo-express
  template:
    metadata:
      labels:
        app: mongo-express
    spec:
      containers:
        - name: mongo-express
          image: mongo-express
          ports:
            - containerPort: 8081
          env:
          - name: ME_CONFIG_MONGODB_ADMINUSERNAME
            valueFrom: 
              secretKeyRef: 
                name: mongodb-secret  #  metadata.name in secret.yaml
                key: mongo-root-username #key in secret.yaml
          - name: ME_CONFIG_MONGODB_ADMINPASSWORD
            valueFrom: 
              secretKeyRef: 
                name: mongodb-secret  #  metadata.name in secret.yaml
                key: mongo-root-password # key in secret.yaml
          - name: ME_CONFIG_MONGODB_SERVER
            valueFrom:  #  from configmap
              configMapKeyRef:
                name: mongodb-configmap
                key: database_url
---
apiVersion: v1
kind: Service
metadata:
  name: mongo-express-service
spec:
  selector:
    app: mongo-express
  type: LoadBalancer  #  this typename is silly, they are all loadbalancers.  but ths type assigns service external IP
  ports:
  - protocol: TCP
    port: 8081
    targetPort: 8081
    nodePort: 30000